.envrc
.git/
.github/
node_modules/
config.yaml
Dockerfile*
docker-compose*
.dockerignore
.gitignore
README.md
LICENSE
.vscode
Makefile
helm-charts
.env
.editorconfig
.idea
coverage*
.coverage
.eslintcache
