---
irc:
  # The hostname or IP address of the IRC server.
  host: irc.example.com
  # The port number of the IRC server.
  port: 6697
  # Use a secure connection.
  tls: true
  # The nickname used by the bot.
  nick: chad
  # The username used by the bot.
  username: chad
  # The version response to CTCP VERSION requests.
  version: "github.com/rwx-labs/chadgpt"
  # List of channels to join when initially connected.
  channels:
    - "#chad"
  # List of nicknames to ignore messages from.
  ignored_nicks: []

# Configuration for the GPT completion requests.
# Reference: https://beta.openai.com/docs/api-reference/completions
openai:
  # The identifier of the model to use for completions.
  model: gpt-3.5-turbo

  # What sampling temperature to use, between 0 and 2. Higher values like 0.8
  # will make the output more random, while lower values like 0.2 will make it
  # more focused and deterministic.
  # temperature: 1

  # The maximum number of tokens to generate in the chat completion.
  max_tokens: 90

  # An alternative to sampling with temperature, called nucleus sampling, where
  # the model considers the results of the tokens with top_p probability mass.
  # So 0.1 means only the tokens comprising the top 10% probability mass are
  # considered.
  #
  # It's recommended to use this or `temperature`, but not both.
  # top_p: 1

  # Number between -2.0 and 2.0. Positive values penalize new tokens based on
  # whether they appear in the text so far, increasing the model's likelihood to
  # talk about new topics.
  presence_penalty: 0.0

  # Number between -2.0 and 2.0. Positive values penalize new tokens based on
  # their existing frequency in the text so far, decreasing the model's
  # likelihood to repeat the same line verbatim.
  frequency_penalty: 0.5

  # List of messages used for instructing GPT.
  #
  # Each message has `content` which will be templated with Mustache.
  #
  # Available variables:
  # `message` - The message a user sent to the bot (not including the bot nick)
  # `rawMessage` - The message a user sent to the bot, including the bot nick
  # `channel` - The name of the channel the message was sent in.
  # `nick` - The nickname of the sender.
  messages:
    - role: system
      content: "You are ChatGPT, a large language model trained by OpenAI. Answer as concisely as possible."
    - role: user
      content: "{{ message }}"
