name: Continuous Integration

on:
  pull_request:
  push:
    branches:
    - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source code
      uses: actions/checkout@v3
    - uses: pnpm/action-setup@v2
      name: Install pnpm
      with:
        version: 7
    - name: Prepare Node.js
      uses: actions/setup-node@v3
      with:
        cache: 'pnpm'
        node-version-file: '.nvmrc'
    - name: Install dependencies
      run: pnpm install --frozen-lockfile
    - name: Perform linting
      run: pnpm run lint

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source code
      uses: actions/checkout@v3
    - uses: pnpm/action-setup@v2
      name: Install pnpm
      with:
        version: 7
    - name: Prepare Node.js
      uses: actions/setup-node@v3
      with:
        cache: 'pnpm'
        node-version-file: '.nvmrc'
    - name: Install dependencies
      run: pnpm install --frozen-lockfile
    - name: Run tests
      run: pnpm run test
